<h1>O Melhor do Porto: Caves e Prova de Vinhos, Almoço com Francesinha e Cruzeiro - Tudo Incluído</h1>


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-7">

      <!-- Aqui vou colocar o carousel -->

      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner imagens">
            <div class="carousel-item active">
              <img src="..\assets\Porto 1.1 tour.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
            <div class="carousel-item">
              <img src="..\assets\Porto2.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
            <div class="carousel-item">
              <img src="..\assets\Porto1.2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <!-- Termina aqui -->
      <div class="row justify-content-center">
        <div class="col-md-6 text">
          <p>

            <th>Destaques</th><br>

            Faça um passeio com tudo incluído no Porto: do centro histórico da cidade (Avenida dos Aliados, Rua de Santa Catarina, Café Majestic, Ponte D. Luiz I e Torre dos Clérigos) às áreas mais modernas.


            Aproveite uma oportunidade perfeita para descobrir uma Cave de renome e desfrutar de uma deliciosa prova de vinho do Porto.


            Desfrute de um almoço com Francesinha no coração do Porto. Absolutamente delicioso! (Para opção vegetariana, por favor especifique no momento da reserva nas Notas).


            Embarque num barco Rabelo tradicional para navegar no rio Douro e contemplar toda a vista da cidade do Porto.


            À tarde, descubra a parte moderna da cidade, como a Casa da Música, o Museu de Serralves, o Rio Foz do Douro e as praias da cidade.



          </p>


        </div>
        <div class="col-md-6 text">
          <p>
            <th> Detalhes<br></th>
            <br>
            IDIOMAS

Português, Inglês, Espanhol ou Francês.

DURAÇÃO

8 Horas

LOCAL DE RECOLHA E ENTREGA

Hóteis no centro do Porto ou Gaia ou Agência da Living Tours: Rua Mouzinho da Silveira 352

HORÁRIO

Diário às 8h30
          </p>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 text">
      <p>
        <th>Descrição completa</th>

        Esteja preparado para descobrir a história e a cultura dos melhores monumentos do Porto, o seu centro histórico e os locais modernos desta cidade tão amada.

        O nosso tour leva-o até um dos monumentos mais importantes do país: a Catedral do Porto. Localizada na parte mais alta da cidade, a sua construção começou no século XII. A Catedral do Porto é considerada um Monumento Nacional, pelo seu valor religioso, arquitectónico e histórico.

        Depois, iremos em direcção à Torre dos Clérigos, um notável complexo arquitectónico e considerado o ex-libris do Porto. A Torre dos Clérigos foi projetada por Nicolau Nasoni e é um dos monumentos mais exuberantes que pode encontrar nesta cidade. Do topo, pode ter vistas privilegiadas sobre o Porto.

        Perto desta impressionante Torre, encontrará a famosa Livraria Lello (entrada não incluída), uma das mais belas e antigas livrarias do mundo, conhecida por ter inspirado a escritora J.K. Rowling para criar a série de livros Harry Potter.

        Agora é hora de descobrir uma das estações ferroviárias mais icónicas da Europa, a Estação São Bento, famosa pelos milhares de azulejos, que representam principalmente temas históricos portugueses. Este lugar pode ser um dos maiores destaques do passeio - esta estação de comboio parece um verdadeiro museu de azulejos!

        Tenha a oportunidade de visitar uma Cave e aprenda tudo sobre o processo de vinificação que dura há muitos séculos e que é a base deste vinho mundialmente famoso. Uma prova de vinho do Porto está incluída, a oportunidade perfeita para saborear alguns dos melhores.

        É tempo de apreciar um almoço tradicional de francesinha num dos bairros mais populares da cidade, a Ribeira, com vistas deslumbrantes sobre o rio Douro.

        Após o almoço, tenha uma perspectiva diferente desta bela cidade a bordo do tradicional Cruzeiro das 6 Pontes nas águas calmas do Douro. Um cruzeiro de 50 minutos com uma paisagem panorâmica que permite explorar todas as pontes que ligam Porto e Gaia. Vistas impressionantes!

        A história não tem fim nesta excursão. Existem algumas áreas modernas que nunca descobriu, mas que está prestes a explorar em modo panorâmico: Boavista e Foz do Douro. Desfrute de um passeio pela Boavista, passando pela Casa da Música, um verdadeiro ícone da nova arquitetura e a principal sala de concertos da cidade. Em seguida, surpreenda-se com o edifício Art Deco mais pintoresco do Porto, enquanto observa o belo Parque da Fundação de Serralves.

        Quer conhecer a parte mais chique e exclusiva da cidade? Esta é a oportunidade perfeita para visitar a Foz do Douro, com lindas moradias com vista para o mar. Aproxime-se das praias e do Castelo do Queijo.

        Tire algum tempo para apreciar as vistas ou caminhar ao longo do passeio marítimo.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">

      <div class="centrar">
        <a routerLink='/formulario' routerLinkActive="active">
          <button type="submit" class="btn btn-danger">Comprar </button>
        </a>
    </div>
  </div>
</div>
