<h1>Excursão ao castelo de Guimarães - visita ao castelo e paços do concelho</h1>


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <!-- Aqui vou colocar o carousel -->

      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="..\assets\Gumaraes.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <p>Castelo - vista area</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="..\assets\braga8-slide.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <p>Castelo - Vista traseira</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="..\assets\mw-860.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <p>Castelo - vista lateral</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <!-- Termina aqui -->
      <div class="row">
        <div class="col-md-6 text">
          <p>

            <th>Destaques</th><br>

            Explore aonde nasceu o condado Portucalense que deu origem a Portugal<br><br>


            O Conde D.Henrique e D.Teresa que mandam realizar grandes obras no Castelo de forma a ampliá-lo e torná-lo mais forte.
            Diz a tradição que teria sido no interior do Castelo que os condes fixaram residência e
            provavelmente aí teria nascido D. Afonso Henriques. <br>


          </p>


        </div>
        <div class="col-md-6 text">
          <p>
            <th> Detalhes<br></th>
            <br>

            <a>IDIOMAS</a><br>

            Português, Inglês, Espanhol ou Francês.<br><br>

            <a>DURAÇÃO</a><br>

            10 Horas<br><br>

            HORÁRIO <br>
            <a>Diário às 8h00</a> <br><br>

            LOCAL DE PARTIDA E CHEGADA (escolha a sua opção)<br>

            • Com Recolha/Chegada ao Hotel: hotéis no centro de Guimarães - outros tipos de alojamento não
            estão incluídos; a recolha será no hotel mais próximo<br>
          </p><br>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">

      <p>
        <th>Descrição completa</th>


        Visita aos paços dos Duques de Bragança majestosa casa senhorial do século XV, mandada edificar por D. Afonso -
        futuro Duque de Bragança, filho bastardo do Rei D. João I - a qual lhe serviu de residência e à sua segunda mulher,
        D.Constança de Noronha. Visita á praça de Santiago que segundo a tradição, uma imagem da
        Virgem Santa Maria foi trazida para Guimarães pelo apóstolo S. Tiago,
         e colocada num Templo pagão num largo que passou a chamar-se Praça de Santiago. <br>



      </p>


    </div>

  </div>
