<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <img class=" img-fluid " src="" alt="">
            </div>
          </div>
    </div>
    <div class="row">
      <div class="col-md-4 " routerLink='primeirotour' routerLinkActive="active">
        <a routerLink='primeirarota' routerLinkActive="active">
          <img alt="Bootstrap Image Preview" class="img-descricao" src="..\assets\Porto8.jpeg.jpg" />
        </a>
        <h2>
          Excursão no Porto - Prova de Vinhos e Cruzeiro das 6 Pontes
        </h2>
        <p>
          Explore a cidade do Porto, considerada um dos melhores destinos turísticos no Mundo. Antiga cidade renovada
          com uma enorme riqueza de Património monumental e artístico. Descubra as grandes atrações da cidade
          abençoada com vistas que nos tiram o fôlego.
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>

      </div>
      <div class="col-md-4 Rota" routerLink='segundarots' routerLinkActive="active">
        <a routerLink='segundarots' routerLinkActive="active">
          <img alt="Bootstrap Image Preview" class="img-descricao"  src="..\assets\Porto5.jpeg.jpg" />
        </a>
        <h2>
          Excursão de Vinhos no Douro 2 Caves, Provas, Cruzeiro e Almoço
        </h2>
        <p>

          O nosso passeio começa num dos monumentos mais charmosos da cidade, a Catedral do Porto. Localizada na parte
          mais alta da cidade, a sua construção começou no século XII. A Catedral do Porto é considerada um Monumento
          Nacional, pelo seu valor religioso, arquitectónico e histórico.

        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4 Rota" routerLink='terceirarota' routerLinkActive="active">
        <a routerLink='terceirarota' routerLinkActive="active">
          <img alt="Bootstrap Image Preview" class="img-descricao"  src="..\assets\Porto7.jpeg.jpg" />
        </a>
        <h2>
          Excursão ao Douro
        </h2>
        <p>
          Explore a maravilhosa Região do Douro, uma zona cheia de tradição nascida na cultura da produção de vinho.
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
    </div>
  </div>

</div>

