<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">




        <div class="col-lg-4 ">
          <a routerLink='/primeira-rota-guimaraes' routerLinkActive="active">
            <div class="card" style="margin: auto">
              <figure class="snip1554">
                <img alt="Bootstrap Image Preview" src="..\assets\Castelo-de-Guimaraes.01jpg.jpg" />
                <figcaption>
                  <h3>Excursão ao castelo - Castelo e paços do concelho de Guimarães</h3>
                </figcaption>
                <a href="#"></a>
              </figure>
              <div class="card-body">
                <h5 class="card-title">Desde 10,00 €</h5>
                <p class="card-text">
                  Visita ao castelo de Guimarães aonde no século XII, com a formação do Condado Portucalense.

                </p>
                <a href="#" class="snip1417" routerLink='/primeira-rota-guimaraes' routerLinkActive="active">Saber
                  Mais</a>
              </div>
            </div>
          </a>
        </div>






        <div class="col-lg-4 ">
          <a routerLink='/segunda-rota-guimaraes' routerLinkActive="active">
            <div class="card" style="margin: auto">
              <figure class="snip1554">
                <img alt="Bootstrap Image Preview" src="..\assets\Gumaraes.jpg" />
                <figcaption>
                  <h3> Excursão ao centro - Centro histórico de Guimarães</h3>
                </figcaption>
                <a href="#"></a>
              </figure>
              <div class="card-body">
                <h5 class="card-title">Desde 16€,00 €</h5>
                <p class="card-text">
                  Centro Histórico de Guimarães – Património Mundial, uma cidade com um glorioso passado.

                </p>
                <a href="#" class="snip1417" routerLink='/segunda-rota-guimaraes' routerLinkActive="active">Saber
                  Mais</a>
              </div>
            </div>
          </a>
        </div>







        <div class="col-lg-4 ">
          <a routerLink='/terceira-rota-guimaraes' routerLinkActive="active">
            <div class="card" style="margin: auto">
              <figure class="snip1554">
                <img alt="Bootstrap Image Preview" src="..\assets\Museus\Museu-Alberto-Sampaio-Guimaraes.jpg" />
                <figcaption>
                  <h3> Excursão aos museus</h3>
                </figcaption>
                <a href="#"></a>
              </figure>
              <div class="card-body">
                <h5 class="card-title">Desde 27,00 €</h5>
                <p class="card-text">
                  Visita ás ruínas arqueológicas de Briteiros que são uma prova extraordinária.
                </p>
                <a href="#" class="snip1417" routerLink='/terceira-rota-guimaraes' routerLinkActive="active">Saber
                  Mais</a>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
