<h1>Passeio  ao Douro Histórico - Vinícola, Miradouro, Cruzeiro e Almoço</h1>


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-7">

      <!-- Aqui vou colocar o carousel -->

      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner imagens">
            <div class="carousel-item active">
              <img src="..\assets\Douro\Douro.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="..\assets\Douro\douro2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="..\assets\Douro\Douro4.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="..\assets\Douro\Douro6.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <!-- Termina aqui -->
      <div class="row justify-content-center">
        <div class="col-md-6 text">
          <p>

            <th>Destaques</th><br>

            Visite Amarante: uma pequena vila com um enorme legado cultural, histórico e religioso.


Tenha uma experiência de tirar o fôlego quando estiver nos miradouros da Galafura e do Pinhão


Viaje pela estrada nacional N222: uma vez considerada a estrada mais bonita do mundo!


Desfrute de um cruzeiro de 1 hora pelo rio Douro, enquanto observa as vistas imponentes do Pinhão.


Delicie-se com um almoço caseiro num restaurante panorâmico com opção vegetariana (indique na reserva).


Visite uma das mais importantes vinícolas do Douro e tenha uma experiência de degustação de vinhos.


Aprecie a estação ferroviária do Pinhão, famosa pelo belo painel de azulejos azuis, brancos e amarelos!



          </p>


        </div>
        <div class="col-md-6 text">
          <p>
            <th> Detalhes<br></th>
            <br>
            Por favor, selecione o número exato de pessoas, incluindo crianças, bebés e idosos.

            IDIOMAS

            Português, Inglês, Espanhol ou Francês.

            DURAÇÃO

            9 Horas

            LOCAL DE RECOLHA E ENTREGA

            No seu alojamento no centro do Porto ou Gaia

            HORÁRIO

            Diário: Partida às 8h00

            *nota: O serviço de guia e transporte realiza-se em privado. As visitas e os almoços não são em privado.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 text">
      <p>
        <th>Descrição completa</th>

        Este passeio mostrará a importância histórica da Região Demarcada do Douro, não só para o processo de vinificação, mas também para a identidade portuguesa! Explore a cultura, tradições, gastronomia e até mesmo as pessoas desta região tão amada.

        Comece o seu passeio por volta das 08h00 (recolha no hotel ou ponto de encontro) e viaje confortavelmente para o Vale do Douro, um Património Mundial da UNESCO desde 2001. O Vale do Douro é uma das regiões mais bonitas do mundo e certamente consegue impressionar visitantes exigentes.

        Quando ouve falar sobre a Região do Douro, qual é a primeira coisa que lhe vem à mente? Podem ser as belas colinas, as incríveis paisagens ou o mundialmente famoso Vinho do Porto.

        A nossa primeira paragem é em Amarante, uma das mais importantes cidades religiosas de Portugal, relacionada com a vida e história de São Gonçalo. Visite a Igreja e Convento de São Gonçalo e observe a bela ponte sobre o rio Tâmega. Tenha tempo para explorar o antigo centro histórico enquanto aprende todos os segredos de Amarante.

        Continuaremos então até ao miradouro de Galafura, um dos maiores destaques deste passeio. O miradouro de São Leonardo da Galafura vai certamente tirar-lhe o fôlego! Tenha uma vista privilegiada sobre o rio Douro e a paisagem envolvente - as colinas verdes e douradas e as vinhas.

        Chegou a hora de provar a gastronomia do Douro. Tenha um delicioso almoço num restaurante tradicional, famoso pela sua comida caseira e as receitas familiares que guardam a sua essência desde há muitos anos.

        Após o almoço, o passeio continua até Pinhão, uma das mais belas e charmosas aldeias do Vale do Douro. Lá, desfrute de outra grande atração deste dia: um cruzeiro panorâmico de 1 hora sobre as águas do rio Douro. Observe as imponentes vistas naturais e as maravilhosas vinhas. Prepare as suas câmeras!

        Termine o seu dia com uma visita fantástica a uma famosa vinícola. Uma experiência de degustação de vinhos está à sua espera: prove 3 vinhos de excelência e aprenda tudo sobre a cultura e o processo de produção do Vinho do Porto.

        Ao regressar confortavelmente ao Porto, observe as paisagens encantadoras que o acompanharão durante o percurso. Depois, o seu guia irá deixá-lo na porta do hotel.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">

      <div class="centrar">
        <a routerLink='/formulario' routerLinkActive="active">
          <button type="submit" class="btn btn-danger">Comprar </button>
        </a>
    </div>
  </div>
</div>

