<h1>Explore os pontos de referência de Braga</h1>


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-7">

      <!-- Aqui vou colocar o carousel -->

      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner imagens">
            <div class="carousel-item active">
              <img src="..\assets\BragaMonumentos\img1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
            <div class="carousel-item">
              <img src="..\assets\BragaMonumentos\img2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
            <div class="carousel-item">
              <img src="..\assets\BragaMonumentos\img3.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <!-- Termina aqui -->
      <div class="row">
        <div class="col-md-6 text">
          <p>

            <th>Destaques </th> <br>

            <p>Explore os pontos de referência de Braga: a Catedral, o Santuário do Sameiro e o Bom Jesus do Monte</p>


            <p>Encontre o Santuário do Bom Jesus do Monte, famoso por suas intermináveis escadas e detalhes barrocos</p>


              <p>Visite a magnífica Sé de Braga, monumento que combina três estilos diferentes: românico, manuelino e barroco</p>


                <p>Faça um tour VIP privado para descobrir o melhor de Braga</p>


        </div>
        <div class="col-md-6 text">
          <p>
            <th> Detalhes<br></th>
            <br>

            <a>IDIOMAS</a><br>

            Português, Inglês, Espanhol ou Francês.<br><br>

            <a>DURAÇÃO</a><br>

            4Horas<br><br>

            HORÁRIO <br>

            <a>Diário: Partida às 9h00</a> <br><br>

            LOCAL DE PARTIDA E CHEGADA <br>

            No seu alojamento

          </p><br>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid descricao">
  <div class="row justify-content-center">
    <div class="col-md-12 ">

      <p>
        <th>Descrição completa</th>

       <p>Este tour VIP privado permite-lhe visitar uma cidade cheia de história, grande património e uma forte devoção religiosa - Braga.</p>

       <p>Vamos começar a nossa viagem a visitar Braga, também conhecida como a "Roma Portuguesa". Braga é uma cidade profundamente religiosa e esta visita guiada permite-lhe visitar o Triângulo da Fé: a Catedral, o Santuário do Sameiro e o Santuário do Bom Jesus. Emocionante, certo?</p>

        <p>A primeira paragem, a Catedral de Braga, também conhecida como Sé de Braga, é uma igreja católica e um dos edifícios mais importantes da cidade, considerada o berço da cidade. Um monumento envolvente que combina três estilos arquitetónicos completamente diferentes: românico, manuelino e barroco. É a catedral mais antiga de Portugal - foi construída várias décadas antes da fundação do país!</p>

          <p>Encontre o Santuário do Sameiro, um santuário mariano, que atrai um grande número de devotos e turistas. Construído a 570 metros sobre dois vales, este monumento deslumbrante permite uma paisagem de prestígio sobre toda a cidade.</p>

            <p>Conheça o majestoso Santuário do Bom Jesus do Monte. Este local de peregrinação é uma das colinas sagradas mais impressionantes da Europa, com uma escadaria com quase 600 centenas de degraus. Foi usada para ser escalada por peregrinos de joelhos para alcançar a purificação do espírito. Não apenas um monumento religioso, mas também um lugar verdadeiramente romântico e relaxante, com vistas deslumbrantes da cidade.</p>

              <p>No final deste passeio, retornará em segurança para o Porto e o seu guia irá deixá-lo no seu alojamento.</p>


    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">

      <div class="centrar">
    <a routerLink='/formulario' routerLinkActive="active">
      <button type="submit" class="btn btn-danger">Comprar </button>
    </a>


</div>

    </div>
  </div>
</div>
