<!-- Aqui vou colocar o carousel -->



<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active mudar" data-interval="10000">
      <img src="..\assets\Paginainicial\braga4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item mudar" data-interval="2000">
      <img src="..\assets\Paginainicial\braga5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item mudar">
      <img src="..\assets\Paginainicial\doce1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item mudar">
      <img src="..\assets\Paginainicial\guimares4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item mudar">
      <img src="..\assets\Paginainicial\guimares5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item mudar">
      <img src="..\assets\Paginainicial\porto4 (1).png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item mudar">
      <img src="..\assets\Paginainicial\porto4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item mudar">
      <img src="..\assets\Paginainicial\porto5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item mudar">
      <img src="..\assets\Paginainicial\vinho1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item mudar">
      <img src="..\assets\BragaMonumentos\img2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- Aqui termina o carousel -->



<!-- Aqui vou colocar as cartas com os destinos -->





<div class="container-fluid topo">
  <div class="row">
    <div class="col-lg-12">


      <div class="row">

        <div class="col-lg-4">

          <figure class="snip1423">
            <img src="..\assets\Paginainicial\braga5.png" alt="sample90" />
            <figcaption>
              <h3>Braga</h3>
              <p></p>
              <div class="price">
                <s>$24.00</s>$19.00
              </div>
            </figcaption><i class="ion-android-cart"></i>
            <a href="#"></a>
          </figure>

        </div>



        <div class="col-lg-4">

            <figure class="snip1423">
              <img src="..\assets\Paginainicial\porto5.png" alt="sample90" />
              <figcaption>
                <h3>Porto</h3>
                <p></p>
                <div class="price">
                  <s>$44.00</s>$33.00
                </div>
              </figcaption><i class="ion-android-cart"></i>
              <a href="#"></a>
            </figure>

          </div>









        <div class="col-lg-4">

            <figure class="snip1423">
              <img src="..\assets\Paginainicial\guimares4.png" alt="sample90" />
              <figcaption>
                <h3>Guimarães</h3>
                <p></p>
                <div class="price">
                  <s>$35.00</s>$16.00
                </div>
              </figcaption><i class="ion-android-cart"></i>
              <a href="#"></a>
            </figure>

          </div>




      </div>
    </div>
  </div>
</div>



<div class="container-fluid topo">
  <div class="row justify-content-center">
    <div class="col-lg-8 ">

        <agm-map [latitude]="41.550227" [longitude]="-8.627529">

            <agm-marker [latitude]="41.550227" [longitude]="-8.62752"  >
                <agm-info-window>

                </agm-info-window>
            </agm-marker>




          </agm-map>

    </div>
  </div>
</div>



<!-- /* Aqui vou colocar os redirecionamentos para os formularios e redes sociais */ -->

<div class="container-fluid ">
  <div class="row ">
    <div class="col-lg-12">



            <div class="row fundo">
              <div class="col-lg-4">

                  <p>Sobre Nós</p>


              </div>
            </div>





    </div>
  </div>
</div>

