
<a class="navbar-brand" routerLink='capa' routerLinkActive="active">
  <img src="..\assets\logo_clicareviajar2.png" width="150" height="auto" class="d-inline-block align-top" alt=""></a>

<a class="navbar-brand navbarlink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink='braga'routerLinkActive="active">
  <button type="button" class="btn-default btn-large">
 Braga</button>
 <div class="dropdown-menu">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
  <a class="dropdown-item" href="#">Separated link</a>
</div>

</a>

<a class="navbar-brand navbarlink" data-toggle="dropdown" routerLink='porto'routerLinkActive="active">
    <button type="button" class="btn-default btn-large">
     Porto</button>
     <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Porto à Noite:Espetáculo de Fado com Jantar</a>
      <a class="dropdown-item" href="#">Excursão de Vinhos no Douro</a>
      <a class="dropdown-item" href="#">Cruzeiro das 6 Pontes</a>
    </div>
    </a>

<a class="navbar-brand navbarlink" data-toggle="dropdown" routerLink='guimaraes'routerLinkActive="active">
<button type="button" class="btn-default btn-large">
Guimarães</button>
<div class="dropdown-menu">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
</div>

</a>


<a class="navbar-brand navbarlink" routerLink='formulario'routerLinkActive="active">
  <button type="button" class="btn-default btn-large">
  Formulário</button></a>
