<a class="navbar-brand" routerLink='home' routerLinkActive="active">
  <img src="..\assets\logo_clicareviajar2.png" width="150" height="auto" class="d-inline-block align-top" alt=""></a>

<a class="navbar-brand navbarlink" routerLink='braga'routerLinkActive="active">
  <button type="button" class="btn-default btn-large">
 Braga</button></a>

<a class="navbar-brand navbarlink" routerLink='porto'routerLinkActive="active">
    <button type="button" class="btn-default btn-large">
     Porto</button></a>

<a class="navbar-brand navbarlink" routerLink='guimaraes'routerLinkActive="active">
<button type="button" class="btn-default btn-large">
Guimarães</button></a>

