

h1{
 margin: auto;
  text-align: center;
  padding-bottom: 6vh;

}

.submeter{
  margin: auto;
  text-align: center;
}

.maginal{
margin-right: 100px;
  margin: 50px;
}

.btn-primary {
  background-color: #c3c3c3;
  color: #ffffff;
  border:#ffffff ;
}

