<h1>Formulário Para reserva</h1>



<div class="maginal">
  <form class="maginal">

      <div class="form-group row">
          <label for="validationTooltip01" class="col-sm-2 col-form-label">Primeiro Nome</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="validationTooltip01" [(ngModel)]="Primeiro_nome" [ngModelOptions]="{standalone: true}" placeholder="Primeiro Nome"  required>
          </div>
        </div>



        <div class="form-group row">
          <label for="validationTooltip01" class="col-sm-2 col-form-label">Apelido</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="validationTooltip01" [(ngModel)]="Apelido" [ngModelOptions]="{standalone: true}" placeholder="Apelido"  required>
          </div>
        </div>


        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="Email">
          </div>
        </div>


        <div class="form-group row">
          <label for="validationTooltip01" class="col-sm-2 col-form-label">Endereco</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="validationTooltip01" [(ngModel)]="Endereco" [ngModelOptions]="{standalone: true}" placeholder="Endereco"  required>
          </div>
        </div>

        <div class="form-group row">
          <label for="validationTooltip01" class="col-sm-2 col-form-label">Código Postal</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="validationTooltip01" [(ngModel)]="codigo_postal" [ngModelOptions]="{standalone: true}" placeholder="Código Postal"  required>
          </div>
        </div>


        <div class="form-group row">
          <label for="validationTooltip01" class="col-sm-2 col-form-label">Telefone</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="validationTooltip01" [(ngModel)]="Telefone" [ngModelOptions]="{standalone: true}" placeholder="Telefone"  required>
          </div>
        </div>

        <div class="form-group row">
          <label for="validationTooltip01" class="col-sm-2 col-form-label">País</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="validationTooltip01" [(ngModel)]="codigo_postal" [ngModelOptions]="{standalone: true}" placeholder="País"  required>
          </div>
        </div>

  </form>
</div>
       <div class="submeter">
        <button class="btn btn-primary" type="submit">Submit form</button>
       </div>




