<h1></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        <div class="col-lg-4  ">
          <a routerLink='/primeira-rota-porto' routerLinkActive="active">
            <div class="card" style="margin: auto">
              <figure class="snip1554">
                <img alt="" src="..\assets\ponte-d-luis.jpeg" class="card-img-top" />
                <figcaption>
                  <h3> Prova de Vinhos e Cruzeiro das 6 Pontes </h3>
                </figcaption>
                <a href="#"></a>
              </figure>
              <div class="card-body">
                <h5 class="card-title">Desde 45,00 €</h5>
                <p class="card-text"> Explore a cidade do Porto, considerada um dos melhores destinos turísticos no
                  Mundo.
                  .</p>
                <a href="#" class="snip1417" routerLink='/primeira-rota-porto' routerLinkActive="active">Saber
                  Mais</a>
              </div>
            </div>
          </a>
        </div>






        <div class="col-lg-4  ">
          <a routerLink='/segunda-rota-porto' routerLinkActive="active">
            <div class="card" style="margin: auto">
              <figure class="snip1554">
                <img alt="" src="..\assets\Porto2.jpeg" class="card-img-top" />
                <figcaption>
                  <h3> Caves e Prova de Vinhos </h3>
                </figcaption>
                <a href="#"></a>
              </figure>
              <div class="card-body">
                <h5 class="card-title">Desde 55,00 €</h5>
                <p class="card-text"> Explore a cidade do Porto, considerada um dos melhores destinos turísticos no
                  Mundo.
                </p>
                <a href="#" class="snip1417 " routerLink='/segunda-rota-porto' routerLinkActive="active">Saber
                  Mais</a>
              </div>
            </div>
          </a>
        </div>






        <div class="col-lg-4  ">
          <a routerLink='/terceira-rota-porto' routerLinkActive="active">
            <div class="card" style="margin: auto">
              <figure class="snip1554">
                <img alt="" src="..\assets\Porto7.jpeg.jpg" class="card-img-top"/>
                <figcaption>
                  <h3>Passeio ao Douro Histórico  </h3>
                </figcaption>
                <a href="#"></a>
              </figure>
              <div class="card-body">
                <h5 class="card-title">Desde 35,00 €</h5>
                <p class="card-text"> Explore a maravilhosa Região do Douro, uma zona cheia de tradição nascida na cultura.
                </p>
                <a href="#" class="snip1417" routerLink='/terceira-rota-porto' routerLinkActive="active">Saber
                  Mais</a>
              </div>
            </div>
          </a>
        </div>







      </div>
    </div>
  </div>
</div>
