
<div class="jumjumbotron jumbotron-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

      </div>
      <div class="row">
        <div class="col-md-4 Rota">
          <div class="card" style="margin: auto">
            <figure class="snip1554" routerLink='primeirarota' routerLinkActive="active">
              <img alt="Bootstrap Image Preview" src="..\assets\ponte-d-luis.jpeg" />
              <figcaption>
                <h3> Excursão no Porto - Prova de Vinhos e Cruzeiro das 6 Pontes </h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <div class="card-body">
              <h5 class="card-title">Desde 45,00 €</h5>
              <p class="card-text"> Explore a cidade do Porto, considerada um dos melhores destinos turísticos no Mundo.
                .</p>
              <a href="#" class="snip1417" routerLink='/primeira-rota-porto' routerLinkActive="active">Saber
                Mais</a>
            </div>
          </div>
        </div>






        <div class="col-md-4 Rota">
          <div class="card" style="margin: auto">
            <figure class="snip1554" routerLink='/segunda-rota-porto' routerLinkActive="active">
              <img alt="Bootstrap Image Preview" src="..\assets\Porto2.jpeg" />
              <figcaption>
                <h3> O Melhor do Porto: Caves e Prova de Vinhos</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <div class="card-body">
              <h5 class="card-title">Desde 55,00 €</h5>
              <p class="card-text">
                Explore a maravilhosa Região do Douro, uma zona cheia de tradição nascida na cultura da produção de
                vinho.
              </p>
              <a href="#" class="snip1417" routerLink='/segunda-rota-porto' routerLinkActive="active">Saber
                Mais</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 Rota">
          <div class="card" style="margin: auto">
            <figure class="snip1554" routerLink='/terceira-rota-porto' routerLinkActive="active">
              <img alt="Bootstrap Image Preview" src="..\assets\Porto7.jpeg.jpg" />
              <figcaption>
                <h3>Passeio ao Douro Histórico - Vinícola, Miradouro, Cruzeiro e Almoço </h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <div class="card-body">
              <h5 class="card-title">Desde 35,00 €</h5>
              <p class="card-text">
                Explore a maravilhosa Região do Douro, uma zona cheia de tradição nascida na cultura da produção de
                vinho.
              </p>
              <a href="#" class="snip1417" routerLink='/terceira-rota-porto' routerLinkActive="active">Saber
                Mais</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>































<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="jumbotron bragaimg">
      </div> -->
      <div class="row">
        <div class="col-md-4">
          <a routerLink='/primeira-rota-braga' routerLinkActive="active">

            <img alt="Bootstrap Image Preview" src="..\assets\bragacool_visitar_bomjesus115.jpg" />
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink='/segunda-rota-braga' routerLinkActive="active">
            <img alt="Bootstrap Image Preview"
              src="..\assets\2560px-Santuário_de_Nossa_Senhora_do_Sameiro_(14399767321).jpg" />
          </a>

          <h2>
            Excursão no Porto - Prova de Vinhos e Cruzeiro das 6 Pontes
          </h2>
          <p>
            Explore a cidade do Porto, considerada um dos melhores destinos turísticos no Mundo. Antiga cidade renovada
            com uma enorme riqueza de Património monumental e artístico. Descubra as grandes atrações da cidade
            abençoada com vistas que nos tiram o fôlego.
          </p>
        </div>

        <div class="col-md-4">
          <a routerLink='/terceira-rota-braga' routerLinkActive="active">
          <img alt="Bootstrap Image Preview" src="..\assets\2560px-Igreja_e_escadaria_do_Bom_Jesus.jpg" />
          </a>
        </div>
      </div>

    </div>
  </div>


