<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="jumbotron bragaimg">
      </div> -->

      <div class="row">
        <div class="col-md-12">
            <img class="imagem-braga img-fluid" src="..\assets\IMG_7488.JPG" alt="" >
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <a routerLink='primeira-rota-braga' routerLinkActive="active">

            <img alt="Bootstrap Image Preview" src="..\assets\bragacool_visitar_bomjesus115.jpg" />
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink='sameiro' routerLinkActive="active">
            <img alt="Bootstrap Image Preview"
              src="..\assets\2560px-Santuário_de_Nossa_Senhora_do_Sameiro_(14399767321).jpg" />
          </a>

          <h2>
            Excursão no Porto - Prova de Vinhos e Cruzeiro das 6 Pontes
          </h2>
          <p>
            Explore a cidade do Porto, considerada um dos melhores destinos turísticos no Mundo. Antiga cidade renovada
            com uma enorme riqueza de Património monumental e artístico. Descubra as grandes atrações da cidade
            abençoada com vistas que nos tiram o fôlego.
          </p>
        </div>

        <div class="col-md-4">
          <img alt="Bootstrap Image Preview" src="..\assets\2560px-Igreja_e_escadaria_do_Bom_Jesus.jpg" />
        </div>
      </div>

    </div>
  </div>


