<h1></h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">


        <div class="row">

          <div class="col-lg-4 Rota">
            <a routerLink='/primeira-rota-braga' routerLinkActive="active">
              <div class="card" style="margin: auto">
                <figure class="snip1554">
                  <img alt="Bootstrap Image Preview" src="..\assets\visitaabragaape2\visitaape3(2).jpg" />
                  <figcaption>
                    <h3>Passeio a Pé ao Centro Histórico de Braga </h3>
                  </figcaption>
                  <a href="#"></a>
                </figure>
                <div class="card-body">
                  <h5 class="card-title">Desde 17,00 €€</h5>
                  <p class="card-text">
                    Viaje por 2000 anos de história na cidade mais antiga de Portugal,
                     <br>Braga
                  </p>
                  <a href="#" class="snip1417" routerLink='/segunda-rota-braga' routerLinkActive="active">Saber
                    Mais</a>
                </div>
              </div>
            </a>
          </div>







          <div class="col-lg-4 Rota">
            <a routerLink='/segunda-rota-braga' routerLinkActive="active">
              <div class="card" style="margin: auto">
                <figure class="snip1554">
                  <img alt="Bootstrap Image Preview" src="..\assets\BragaMonumentos\img2.jpg" />
                  <figcaption>
                    <h3> A Catedral, o Santuário do Sameiro e o Bom Jesus do Monte.</h3>
                  </figcaption>
                  <a href="#"></a>
                </figure>
                <div class="card-body">
                  <h5 class="card-title">Desde 200€,00 €</h5>
                  <p class="card-text">
                    Explore os pontos de referência de Braga: a Catedral, o Santuário do Sameiro e o Bom Jesus do Monte


                  </p>
                  <a href="#" class="snip1417" routerLink='/segunda-rota-braga' routerLinkActive="active">Saber
                    Mais</a>
                </div>
              </div>
            </a>
          </div>




          <div class="col-lg-4 Rota">
            <div class="card" style="margin: auto">
              <figure class="snip1554" routerLink='/terceira-rota-braga' routerLinkActive="active">
                <img alt="Bootstrap Image Preview" src="..\assets\3- rota braga\2.jpg" />
                <figcaption>
                  <h3>Passeio a Pé em Braga - Rota Arqueológica </h3>
                </figcaption>
                <a href="#"></a>
              </figure>
              <div class="card-body">
                <h5 class="card-title">Desde 27,00 €</h5>
                <p class="card-text">
                  Descubra a cultura romana, tradições e hábitos de quando a cidade era conhecida como Bracara Augusta.
                </p>
                <a href="#" class="snip1417" routerLink='/terceira-rota-braga' routerLinkActive="active">Saber
                  Mais</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
