<div class="container">
    <img src="..\assets\sobrenos\amigos2 (1).jpg" alt="Nature" style="width:100%;">
    <div class="text-block">
      <p>A Clicar e Viajar nasceu da paixão de 4 amigos pelas paisagens do Norte de Portugal.
        Uma paixão que se estende dos socalcos do Douro às lendas milenares de Braga, passando pelas histórias de conquistas em Guimarães.</p>
        <p>O Norte é o coração de Portugal. Foi aqui que tudo começou. E é aqui que queremos que volte.</p>
        <p>Venha descobrir connosco os caminhos de pedra antiga, provando os sabores intemporais, admirando paisagens inesquecíveis.</p>
        <p>Bem vindo às origens! Estivemos à sua espera.</p>
    </div>
  </div>


